---
import Img from "../Img.astro";
import ImgCard from "./ImgCard.astro";
import TitleCard from "./TitleCard.astro";
import ParagraphCard from "./ParagraphCard.astro";

interface Props {
  href : string ;
  numcard : string ;
  title : string ;
  alt : string ;
  iconcard : string ;
  star1 : string;
  star2 : string ;
  star3 : string;
  tags : string[];
}

const {href,numcard,title,alt,iconcard,star1,star2,star3,tags} = Astro.props;
---

<li  class="inline-block p-0 cards  w-40 h-40 gap-4 md:w-52 md:h-52 lg:w-48 lg:h-48 ">
  <a href={href} class="p-0">

      <article class="bg-newblack border-2 border-newgray3 rounded-2xl hover:scale-110 ease-in-out duration-300 transition-all delay-100">
          <header class="pt-2 pb-4 m-auto w-11/12 grid grid-cols-1 grid-rows-4 gap-1">

            <section class="py-0 h-5/6 text-blanco border-blanco border-b-2 order-1 row-span-1">
              <div class="inline-block w-1/2 ">
                <Img icon={star1} nameicon={"star"} customstyles={"inline-block p-0 w-4 h-4"}/>
                <Img icon={star2} nameicon={"star"} customstyles={"inline-block p-0 w-4 h-4"}/>
                <Img icon={star3} nameicon={"star"} customstyles={"inline-block p-0 w-4 h-4"}/>
              </div>
              <div class="inline-block w-1/2 text-xs md:text-base">
                <ParagraphCard text={numcard}/>
              </div>
            </section>

            <section class="m-auto w-1/3 md:w-1/3 lg:w-2/5 order-2 row-span-2">
              <ImgCard iconcard={iconcard} alt={alt}/>
            </section>

            <section class="py-1.5 md:py-2 px-6 text-blanco border-blanco border-t-2 border-b-2 order-3 row-span-1">
              <TitleCard text={title}/>
            </section>

          </header>
        </article>

  </a>

</li>