---
import Img from "../Img.astro";
import ImgCard from "./ImgCard.astro";
import TitleCard from "./TitleCard.astro";
import ParagraphCard from "./ParagraphCard.astro";

interface Props {
  href : string ;
  numcard : string ;
  title : string ;
  alt : string ;
  iconcard : string ;
  star1 : string;
  star2 : string ;
  star3 : string;
  primertag : string;
  segundotag :string;
}

const {href,numcard,title,alt,iconcard,star1,star2,star3,primertag,segundotag} = Astro.props;
---



<div class="flex  w-32 md:w-44 lg:w-48 h-auto p-2  relative text-blanco bg-newblack border-2 border-newgray3 rounded-2xl hover:scale-105 hover:z-10 transition-all cards">
  <dl class="px-1 pt-1 pb-2 flex flex-col-reverse flex-grow">
  
    <dt class="py-1.5  px-6 border-blanco border-t-2 border-b-2 text-center basis-1/4">
      <TitleCard text={title}/>
    </dt>

    <dd class="p-6  basis-1/2">
      <ImgCard iconcard={iconcard} alt={alt}/>
    </dd>
    
    <!-- tags -->
    <dd class="sr-only">{primertag}</dd>
    <dd class="sr-only">{segundotag}</dd>
  
    <dd class=" border-blanco border-b-2 pb-2 flex flex-grow flex-row basis-1/6 md:basis-1/4">
      <div class="flex  flex-row flex-wrap basis-1/2 ">
        <Img icon={star1} nameicon={"star"} customstyles={" basis-1/4"}/>
        <Img icon={star2} nameicon={"star"} customstyles={" basis-1/4"}/>
        <Img icon={star3} nameicon={"star"} customstyles={" basis-1/4"}/>
      </div>
      <div class="basis-1/2 text-right text-xs md:text-base">
        <ParagraphCard text={numcard}/>
      </div>
          
    </dd>
    <a href={href} class="absolute top-0 left-0 bottom-0 right-0 w-full "></a>
  
  </dl>
</div>