---
import Cards from './Cards.astro'

import listacards from '../../config/listacards.json'
import {Shuffle} from '../../utils/Shuffle.js'

Shuffle(listacards);

---


<div class="flex flex-row flex-wrap justify-center  gap-3 m-auto w-11/12 md:w-9/12">
  {
    listacards.map(
      ({href,title,numcard,iconcard,alt,star1,star2,star3,tags})=>(
      <Cards href={href} title={title} alt={alt} numcard={numcard} iconcard={iconcard} star1={star1}star2={star2} star3={star3} primertag={tags.primer} segundotag={tags.segundo}></Cards>
      )
    )
  }
</div>

